<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>
    <br>
    <h1>Greetings, my friend. Care for a cat?</h1>
    <br>
    <form action="/cat">
      <input type="submit" value="Clearly">
    </form>  
  </body>
</html>

